.popup{
    width: 100%;
    height: 100vh;
    background-color: rgb(64, 63, 61, 0.8);
    position: fixed;
    z-index: 100;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup.active{
    display: flex;
}

.content-of-popup{
    padding: 16px;
    display: flex;
    position: fixed;
    z-index: 100000;
    border-radius: 40px;
    background-color: var(--background-body);
}

.content-of-popup .block_for_picture{
    height: 310px;
    width: 310px;
}

.describing-of-good{
    margin-left: 20px;
    width: 438px;
}

.total_cost{
    display: flex;
    justify-content: space-between;
}

.firs_part_of_content{
    height: 100%;
}

.important_information .caption{
    font-weight: 700;
}

.close_btn span{
    font-weight: 700;
}

hr{
    margin: 0px;
}

.close_btn{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--border-dark);
    background-color: var(--background-body);
    border-radius: 100px;
    margin-top: 20px;
}

.added-price{
    margin-top: 20px;
}

.total_cost{
    margin-top: 20px;
    margin-bottom: 20px;
}

.title_of_drink{
    margin-bottom: 12px;
}

.important_information{
    display: flex;
    margin-top: 12px;
}

.important_information img{
    width: 16px;
    height: 16px;
}

.radio_buttons{
    border: 1px var(--border-light) solid;
    border-radius: 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 8px 16px 8px 8px;
    margin-right: 8px;
}

.radio_buttons.active{
    background-color: var(--border-dark);
}

.size_of_drink{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: var(--border-light);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.radio_buttons .medium{
    font-weight: 600;
}

.div_with_radio{
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 1125px)  {
    .div_with_radio{
        display: grid;
        grid-template-columns: repeat(2, auto);
        row-gap: 8px;
    }

    .describing-of-good {
        margin-left: 20px;
        width: 326px;
    }
}

@media screen and (max-width: 751px)  {
    .content-of-popup .block_for_picture{
        display: none;
    }
}
