.Favourite-coffee-div{
    display: flex;
    justify-content: space-between;
}


.swiper{
    width: 480px;
}

.swiper-slide{
    max-width: 100%;
    height: auto;
}

.swiper-slide p{
    margin: 16px auto;
    font-family: 'Inter';
}

.progress{
    background-color: var(--border-dark);
    width: var(--progress, 0%);
    border-radius: 100px;
    height: 4px;
}

.swiper-wrapper{
    height: auto;
}

.swiper-pagination-bullet{
    width: 40px;
    aspect-ratio: 10/1;
    background-color: var(--border-light);
    border-radius: 100px;
    opacity: unset;
    height: auto;
}

.swiper-slide img{
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
}

.price_of_drink{
    margin-top: 16px;
}

.name_of_drink{
    margin-bottom: 16px;
}


.previous_page{
    background-color: rgb(0,0,0,0);
    border: 0px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.next_page{
    background-color: rgb(0,0,0,0);
    border: 0px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.next_page svg{
    transform: rotate(180deg);
    transition: 1s;
    border-radius: 100px;
}

.previous_page:hover svg{
    background-color: var(--background-container);
}

.previous_page svg path{
    transition: 1s;
}

.previous_page:hover svg path{
    stroke: var(--text-light) !important;
}

.previous_page svg{
    transition: 1s;
    border-radius: 100px;
}

.previous_page{
    padding: 0%;
}

.next_page:hover svg{
    background-color: var(--background-container);
}

.next_page svg path{
    transition: 1s;
}

.next_page:hover svg path{
    stroke: var(--text-light) !important;
}

.next_page{
    padding: 0%;
}

@media screen and (max-width: 452px)  {
    .previous_page{
        display: none;
    }

    .next_page{
        display: none;
    }
}