.Favourite-coffee-div{
    display: flex;
    justify-content: space-between;
}

.price_of_drink{
    margin-top: 16px;
}

.name_of_drink{
    margin-bottom: 16px;
}

.slider{
    width: 480px;
    overflow: hidden;
    height: 640px;
}

.slider-line{
    width: 480px;
    display: flex;
    position: relative;
    transition: all 5s;
    left: 0px;
}

.slide{
    width: 1152px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-controller{
    height: 4px;
    width: 144px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}

.slide-controller button{
    width: 40px;
    height: 6px;
    border-radius: 100px;
    border-color: rgb(0, 0, 0, 0);
    background-color: var(--border-light);
}


.previous_page{
    background-color: rgb(0,0,0,0);
    border: 0px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.next_page{
    background-color: rgb(0,0,0,0);
    border: 0px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.next_page svg{
    transform: rotate(180deg);
    transition: 1s;
    border-radius: 100px;
}

.previous_page:hover svg{
    background-color: var(--background-container);
}

.previous_page svg path{
    transition: 1s;
}

.previous_page:hover svg path{
    stroke: var(--text-light) !important;
}

.previous_page svg{
    transition: 1s;
    border-radius: 100px;
}

.previous_page{
    padding: 0%;
}

.next_page:hover svg{
    background-color: var(--background-container);
}

.next_page svg path{
    transition: 1s;
}

.next_page:hover svg path{
    stroke: var(--text-light) !important;
}

.next_page{
    padding: 0%;
}

.slide-controller button{
    padding: 0px;
    border: 0px;
}

.progress{
    width: 0%;
    height: 100%;
    border-radius: 100px;
    background-color: var(--border-dark);
}

.progress.active{
    animation-duration: 3s;
    animation-name: progress_bar;
}

@keyframes progress_bar {
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
}


@media screen and (max-width: 1360px) and (min-width: 769px){
    .slider{
        max-width: 480px;
    }
}

@media screen and (max-width: 768px)  {

}

@media screen and (max-width: 767px) and (min-width: 452px) {
    .slider{
        max-width: 480px;
    }
}

@media screen and (max-width: 452px)  {
    .previous_page{
        display: none;
    }

    .slide img{
        width: 348px;
        height: 348px;
    }

    .next_page{
        display: none;
    }
}